<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" type="text/css" href="css/productselection.css"/>
    <title>Product Selection</title>
</head>
<body>

<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>


<div id="customerID" hidden="true"  th:value="${customerID}" th:text="${customerID}"></div>
<div id="content">
    <table>
        <tr >
            <th th:each="category : ${categories}" th:text="${category}">

            </th>
            <th th:text="Basket">
            </th>
        </tr>
        <tr id="datarows" >
            <td th:id="${category}" th:each="category : ${categories}" >
                <table class="innertable">
                    <tr th:each="product : ${productList}" th:if="${product.category == category}">
                        <td>
                            <input th:id="${product.id}" type="checkbox" class="productcheckbox" th:value="${product.name}" th:text="${product.name}"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <ul id="basket">


                </ul>
                <br/>
                <input id="checkout" type="button" value="Checkout" onclick="sendCheckout()"/>
            </td>
        </tr>
    </table>
</div>
<script type="text/javascript">
//<![CDATA[
        $('.productcheckbox').click(function() {
        if (this.checked == false){
            $("li[id="+this.id+"]").remove();
         }
         if (this.checked == true){
           $("#basket").append("<li id="+this.id+">"+ this.value+"</li>");
         }
        });
    function sendCheckout(){
        var parameters = $("#basket").find("li")[0].textContent;
        var parameterLength = $("#basket").find("li").length;
        var i = 1;
        while (i < parameterLength){
               parameters = parameters.concat(",").concat($("#basket").find("li")[i].textContent);
               i++;
        }

        var url = 'http://'+window.location.hostname+':8082/checkout?selectedProducts='.concat(parameters);

      $.ajax({
        url: url,
        headers: { customerID: $("#customerID").text()},
        success: function(result){
          $('#content').html(result);
        }});

     }
     //]]>
    </script>
</body>
</html>