<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<link rel="stylesheet" type="text/css" href="css/productselection.css"/>
    <title>Product Selection</title>
</head>
<body>
    <table>
        <tr >
            <th th:each="category : ${categories}" th:text="${category}">

            </th>
            <th th:text="Basket">
            </th>
        </tr>
        <tr id="datarows" >
            <td th:id="${category}" th:each="category : ${categories}" >
                <table class="innertable">
                    <tr th:each="product : ${productList}" th:if="${product.category == category}">
                        <td>
                            <input th:id="${product.id}" type="checkbox" class="productcheckbox" th:value="${product.name}" th:text="${product.name}"/>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <ul id="basket">


                </ul>

            </td>
        </tr>
    </table>   .
    <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
    <script type="text/javascript">

        $('.productcheckbox').click(function() {
        if (this.checked == false){
            $("li[id="+this.id+"]").remove();
         }
         if (this.checked == true){
           $("#basket").append("<li id="+this.id+">"+ this.value+"</li>");

         }

        });
    </script>
</body>
</html>