table {
    width: 400px;
    height: 0px;
    position: absolute;
    top:10px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


#success {
    width : 400px;
    text-align: center;
    color: green;
    right: 400px;
    position: absolute;
}

#errors {
    width : 400px;
    text-align: center;
    color: red;
    right: 400px;
    position: absolute;
}